node_red_app_flow.json
[{"id":"15336da5.d929aa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efc60189.14659","type":"function","z":"15336da5.d929aa","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\n\n//following are required to receive a token\nvar apikey=\"fsyeRmnwWYtQTBV6YSJ4AO33DyfY8o4CshPrq5yrnodQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["2a03c7f5.bae24"]]},{"id":"dbabc4a7.3d22c","type":"http request","z":"15336da5.d929aa","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f02389af-bdad-4f92-9d76-2d1c270e6f0b/deployments/a696111d-6ca5-4a27-b2af-f56282649cd1/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["12c2a059.a2788","a2db6348.0f333"]]},{"id":"32bc7340.090ddc","type":"debug","z":"15336da5.d929aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"a2db6348.0f333","type":"function","z":"15336da5.d929aa","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["32bc7340.090ddc","631be2d8.90ab0c"]]},{"id":"12c2a059.a2788","type":"debug","z":"15336da5.d929aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"2e3d4ad3.7bf8a6","type":"function","z":"15336da5.d929aa","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"f02389af-bdad-4f92-9d76-2d1c270e6f0b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Adult Mortality','Income composition of resources',' BMI ','GDP','Schooling',' HIV/AIDS'],\n\"values\":[[a,b,c,d,e,f]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["dbabc4a7.3d22c"]]},{"id":"2a03c7f5.bae24","type":"http request","z":"15336da5.d929aa","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["2e3d4ad3.7bf8a6"]]},{"id":"5b7bbbb8.441ecc","type":"ui_form","z":"15336da5.d929aa","name":"","label":"","group":"3e8adc1a.44eab4","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"b","type":"number","required":true,"rows":null},{"label":" BMI ","value":"c","type":"number","required":true,"rows":null},{"label":"GDP","value":"d","type":"number","required":true,"rows":null},{"label":"Schooling","value":"e","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"f","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["efc60189.14659"]]},{"id":"631be2d8.90ab0c","type":"ui_text","z":"15336da5.d929aa","group":"3e8adc1a.44eab4","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"3e8adc1a.44eab4","type":"ui_group","z":"","name":"Life Expectancy","tab":"4d87b87c.948b28","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d87b87c.948b28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]